---
title: Legalized Theft
layout: layouts/home.njk
description: A dive into civil asset forfeiture in Alabama and beyond.
image: https://upload.wikimedia.org/wikipedia/en/a/a9/Example.jpg
date: Last Modified
---


<div id="posts">
  <h2>Posts</h2>
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</div>