# Runs build and test
name: Deploy

on:
  push:
    branches: [main]
    tags:
      - '*'

jobs:
  build:
    uses: ./.github/workflows/build-and-test.yml@main
  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@main
        with:
          name: site
          path: site
      - name: GitHub Pages action
        uses: peaceiris/actions-gh-pages@v3.9.3
        with:
          publish_dir: site
            
